<h1>This shows an article</h1>

<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>

<p>
    <%= link_to "Return to list of articles", articles_path %>
</p>