<h3 class="d-flex justify-content-center"><%= @user.username %></h3>

<%= gravatar_image @user, size: 200 %>

<div class="text-center mb-4">
    <%= link_to "Update your profile", edit_user_path(@user), class: "btn btn-info" %>
</div>
<%= render 'articles/articles_list' %>