@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  color: white !important;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.jumbotron {
  background-image: asset-url('write-machine.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 425px;
  margin: 0;
}

.container {
  max-width: 100%;
  padding: 0;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}

html,
body {
  height: 100%;
}

#page-content {
  padding-top: 25px;
  padding-bottom: 25px;
  flex: 1 0 auto;
  background-color: lightgrey;
  min-height: calc(100% - 72px - 74px);
}

#sticky-footer {
  flex-shrink: none;
  
  a {
    color: white;
  }
}

.alert {
  margin: 0;
}

.card-text {
  p {
    text-align: justify;
  }
}

h1, h2, h3, h4 {
  font-weight: bold;
}

.page-title {
  margin-bottom: 25px;
}

// pagination style
.apple_pagination {
  text-align: center;
  padding: 1em;
  cursor: default;
  a, span {
    padding: 0.2em 0.3em;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background-color: darken(#f1f1f1, 20);
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(white, .8) 1px 1px 1px;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}